@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
  margin: 0%;
  font-family: "Montserrat", serif;
}

body {
  background-color: #dee8fb;
}

/*******************************Navbar************************************/

#navigation-bar {
  height: 6rem;
  background: #9bbff5;
  background: linear-gradient(to right, #497be8, #9bbff5);
  border-bottom: 1px solid #345edc;
  text-transform: uppercase;
}

#navigation-bar-item {
  display: flex;
  justify-content: end;
}

.swal-overlay {
  background-color: rgba(184, 21, 21, 0.45);
}